/* basics */

@font-face {
  font-family: 'Helvetica';
  src: url(fonts/Helvetica.woff) format('woff');
  src: url(fonts/Helvetica.ttf) format('truetype');
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

/* header info:
  h1 = big header (maybe title of webpage
  h2 = sub-header (twitter user-name)
  h3 = sub-sub-header (twitter words in tiles)
*/

h1 {
  font-size: 36px;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

p {
  font-size: 14px;
  line-height: 1.2;
}

/* DIV LAYOUT PROPERTIES (GRID POSITIONING) */

/*
-- COLUMNS --
column 1: whitespace left
column 2: content
column 3: whitespace right
-- ROWS --
row 1: whitespace to top of site
row 2: for searchbar
row 3: for username
row 4: whitespace to tile grid
row 5: tile grid
*/
.overall-layout {
  height: 100%;
  width: 100%;
  display: grid;
  position: absolute;
  grid-template-rows: 10% 10% 10% 10% 60%;
}

.username {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  min-height: 50px;
 }

 .searchbar {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: red;
 }
 
 .tile-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, 150px);
   grid-template-rows: repeat(auto-fit, 150px);
   grid-gap: 15px;
   grid-column-start: 2;
   grid-column-end: 2;
   grid-row-start: 5;
   grid-row-end: 5;
 }
 
 .tile {
   height: 150px;
   width: 150px;
 }

.bottom-whitespace {
  height: 300px;
}

.footer {
  grid-column-start: 1;
}


/* layout-test with borders */
.overall-layout > div {
  border: 1px solid black;
} 
.tile-grid > div {
  border: 1px solid black;
} 



a {
  outline: 0;
  border: 0;
}




/* styling of input form */

.searchbar {
  padding: 0px;
  margin: 0px;
}

input[type=text] {
  padding: 4px;
  width: 100%;
  min-width: 10em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 24px;
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
}



/*

::-webkit-input-placeholder {
  color: white;
}
:-moz-placeholder { /* Firefox 18- 
  color: white;
  opacity: 1;
}
::-moz-placeholder {  /* Firefox 19+ 
  color: white;
  opacity: 1;
}
:-ms-input-placeholder {  
  color: white;  
}