/* basics */

@font-face {
  font-family: 'Helvetica';
  src: url(fonts/Helvetica.woff) format('woff');
  src: url(fonts/Helvetica.ttf) format('truetype');
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Helvetica", "Arial", sans-serif;
}

/* header info:
  h1 = big header (maybe title of webpage
  h2 = sub-header (twitter user-name)
  h3 = sub-sub-header (twitter words in tiles)
*/

h1 {
  font-size: 30px;
  font-weight: normal;
  color: rgb(54, 153, 134);
  margin: 0px;
  padding-top: 3vh;
  padding-bottom: 0px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

p {
  font-size: 14px;
}



/* DIV LAYOUT PROPERTIES (GRID POSITIONING) */

/*
-- COLUMNS --
column 1: whitespace left
column 2: content
column 3: whitespace right
-- ROWS --
row 1: whitespace to top of site
row 2: page title
row 3: for searchbar
row 4: for username
row 5: whitespace to tile grid
row 6: tile grid
*/
.overall-layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*
.overall-layout > div {
  border: 1px solid black;
}
*/

.searchbar {
  margin: 0px;
  padding-top: 0px;
}

 /* text input field */
input[type=text] {
  text-align: left;
  margin: 0px;
  padding: 3px;
  padding-left: 2vw;
  background-color: rgb(54, 153, 134);
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 24px;
}

/* search button 
button {
  text-align: center;
  background-color: rgb(54, 153, 134);;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
}
*/
 
 .tile-grid {
   flex-grow: 1;
   position: relative;
   border-right: 3px dashed grey;
 }
 
 .tile {
   background-color: rgb(54, 153, 134);
   position: absolute;
   left: 0;
   height: 1em;
   border-radius: 0.5em;
   overflow: hidden;
 }

/* tile information display */

 .content {
  visibility: hidden;
  margin: 0px;
  padding: 0px 0px 0px 2em;
}

.about {
  visibility: hidden;
  font-weight: bold;
  margin: 0px;
  padding: 0px 0px 0px 2em;
}

.tile:hover .content, .clicked .content {
  visibility: visible;
}

.tile:hover .about, .clicked .about {
  visibility: visible;
}

.clicked {
  height: 75px;
  z-index: 99;
}

.tile > p {
  color: white;
}

.tile:hover, .clicked {
  z-index: 99;
  box-shadow: 7px 8px 5px 5px rgba(0,0,0,0.5);
}

.footer {
  display: flex;
  background-color: rgb(54, 153, 134);
  color: white;
  align-items: center;
  border-radius: 0.5em;
  height: 25px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 1vw;
}
