/* basics */

@font-face {
  font-family: 'Helvetica';
  src: url(fonts/Helvetica.woff) format('woff');
  src: url(fonts/Helvetica.ttf) format('truetype');
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

/* header info:
  h1 = big header (maybe title of webpage
  h2 = sub-header (twitter user-name)
  h3 = sub-sub-header (twitter words in tiles)
*/

h1 {
  font-size: 36px;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

p {
  font-size: 14px;
  line-height: 1.2;
}

/* DIV LAYOUT PROPERTIES (GRID POSITIONING) */

/*
-- COLUMNS --
column 1: whitespace left
column 2: content
column 3: whitespace right
-- ROWS --
row 1: whitespace to top of site
row 2: page title
row 3: for searchbar
row 4: for username
row 5: whitespace to tile grid
row 6: tile grid
*/
.overall-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pagetitle {
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  min-height: 50px;
}

.username {
  padding-top: 1vh;
  padding-bottom: 2vh;
  text-align: center;
  min-height: 50px;
 }

 /* searchbar div with textfield + button */
 .searchbar {
  display: flex;
  padding-bottom: 3vh;
  text-align: center;
  justify-content: center;
 }

 /* text input field */
input[type=text] {
  text-align: center;
  padding: 4px;
  background-color: rgb(54, 153, 134);
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 24px;
}

/* search button 
button {
  text-align: center;
  background-color: rgb(54, 153, 134);;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
}
*/
 
 .tile-grid {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
   width: 100%;
 }
 
 .tile {
   flex: 1;
   align-items: center;
   text-align: center;
   line-height: 150px;
   background-color: rgb(54, 153, 134);
   min-height: 150px;
   min-width: 150px;
   max-height: 150px;
   max-width: 150px;
   margin: 10px;
   border-radius: 25px;
 }

.footer {
  padding-top: 5vw;
  text-align: center;
}


/* layout-test with borders */
/*
.overall-layout > div {
  border: 1px solid black;
} 
.tile-grid > div {
  border: 1px solid black;
} 
*/


a {
  outline: 0;
  border: 0;
}




/* styling of input form */



/*

::-webkit-input-placeholder {
  color: white;
}
:-moz-placeholder { /* Firefox 18- 
  color: white;
  opacity: 1;
}
::-moz-placeholder {  /* Firefox 19+ 
  color: white;
  opacity: 1;
}
:-ms-input-placeholder {  
  color: white;  
}