/* basics */

@font-face {
  font-family: 'Helvetica';
  src: url(fonts/Helvetica.woff) format('woff');
  src: url(fonts/Helvetica.ttf) format('truetype');
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

/* header info:
  h1 = big header (maybe title of webpage
  h2 = sub-header (twitter user-name)
  h3 = sub-sub-header (twitter words in tiles)
*/

h1 {
  font-size: 36px;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

p {
  font-size: 14px;
  line-height: 1.2;
}

/* DIV LAYOUT PROPERTIES (GRID POSITIONING) */

/*
-- COLUMNS --
column 1: whitespace left
column 2: content
column 3: whitespace right
-- ROWS --
row 1: whitespace to top of site
row 2: page title
row 3: for searchbar
row 4: for username
row 5: whitespace to tile grid
row 6: tile grid
*/
.overall-layout {
  height: 100%;
}


 /* text input field */
input[type=text] {
  text-align: center;
  padding: 4px;
  background-color: rgb(54, 153, 134);
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 24px;
}

/* search button 
button {
  text-align: center;
  background-color: rgb(54, 153, 134);;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
}
*/
 
 .tile-grid {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
   width: 100%;
 }
 
 .tile {
   flex: 1;
   background-color: rgb(54, 153, 134);
   min-height: 150px;
   min-width: 150px;
   max-height: 150px;
   max-width: 150px;
   margin: .2em;
   border-radius: .2em;
 }